.example-spacer {
  flex: 1 1 auto;
}
.center-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
mat-toolbar{
  margin-bottom: 3vh;
}
.mid-width{
  width: 80%;
}
.inline-calendar-card {
  width: 300px;
}
.example-events {
  height: 200px;
  border: 1px solid #555;
  overflow: auto;
}
::ng-deep .available .mat-calendar-body-cell-content{
    background-color: #7b1fa2;
}
::ng-deep .available-missing .mat-calendar-body-cell-content{
  background-color: indianred;
}
table {
  width: 100%;
}
th.mat-sort-header-sorted {
  color: black;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.input-number-cell{
  width: 50px;
}
.mat-mini-fab{
  box-shadow: none !important;
}
.fab-plus-one-button {
  position:absolute;
  width: 24px;
  height: 24px;
  margin-top: -3px;
  margin-left: 8px;
}
.fab-plus-one-icon {
  font-size: 17px;
  margin-top: -9px;
  margin-left: 0px;
}
#table-hours-to-export{
  display: none;
}
