<mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{title}}</span>
  <span class="example-spacer"></span>
  <!-- <button mat-icon-butto>
    <mat-icon>share</mat-icon>
  </button> -->
</mat-toolbar>

<!-- TODO: separar em um component a parte e criar rota -->
<div class="center-form">
  <mat-stepper orientation="vertical" linear="false" #stepper class="mid-width">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Preencha o nome do assistido</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Assistido</mat-label>
          <input matInput formControlName="firstCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Próximo</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Preencha os dias de atendimento</ng-template>
        <mat-card class="demo-inline-calendar-card">
          <mat-calendar
            #calendar
            [startAt]="today"
            (selectedChange)="getChangedValue($event)">
          </mat-calendar>
        </mat-card>
        <br>
        <div>
          <button mat-button matStepperPrevious>Voltar</button>
          <button mat-button matStepperNext>Próximo</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Finalizar</ng-template>
      <p>Você terminou.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-flat-button color="primary" (click)="stepper.reset()">Exportar</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>


<!-- sobre a data, mixar esses elementos abaixo (https://material.angular.io/components/datepicker/overview):
Datepicker input and change events
Datepicker action buttons
Datepicker inline calendar example -->


<router-outlet></router-outlet>
