<mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{title}}</span>
  <span class="example-spacer"></span>
  <!-- <button mat-icon-butto>
    <mat-icon>share</mat-icon>
  </button> -->
</mat-toolbar>

<!-- TODO: separar em um component a parte e criar rota -->
<div class="center-form">
  <mat-stepper orientation="vertical" linear="false" #stepper class="mid-width">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Nome do assistido</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Assistido</mat-label>
          <input matInput formControlName="firstCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Próximo</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Dias de atendimento do assistido</ng-template>
        <mat-card class="demo-inline-calendar-card">
          <mat-calendar
            #calendar
            (selectedChange)="getChangedValue($event)">
          </mat-calendar>
        </mat-card>
        <br>
        <div>
          <button mat-button matStepperPrevious>Voltar</button>
          <button mat-button matStepperNext (click)="mountDataSource()">Próximo</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Quantidade de horas por dia de atendimento</ng-template>
      <!-- <p>Preencha a quantidade de horas por dia de atendimento do assistido.</p> -->

      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8"
      matSortActive="day" matSortDirection="asc">
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="day">
          <th mat-header-cell *matHeaderCellDef mat-sort-header start="desc"> Dia </th>
          <td mat-cell *matCellDef="let element"> {{element.day}} </td>
        </ng-container>

        <ng-container matColumnDef="hours">
          <th mat-header-cell *matHeaderCellDef>
            Horas
            <button mat-mini-fab color="primary" class="fab-plus-one-button">
                <mat-icon class="fab-plus-one-icon">plus_one</mat-icon>
            </button>
          </th>
          <!-- TODO: CRIAR BOTÃO QUE INSIRA 1 OU 2 HORAS EM TODOS -->
          <td mat-cell *matCellDef="let element">
            <mat-form-field class="input-number-cell">
              <input
                matInput
                type="number">
            </mat-form-field>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <br>
      <div>
        <button mat-button matStepperPrevious>Voltar</button>
        <button mat-button matStepperNext>Próximo</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Finalizar</ng-template>
      <p>Você terminou.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-flat-button color="primary" (click)="stepper.reset()">Exportar</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>


<!-- sobre a data, mixar esses elementos abaixo (https://material.angular.io/components/datepicker/overview):
Datepicker input and change events
Datepicker action buttons
Datepicker inline calendar example -->


<router-outlet></router-outlet>
